{% extends 'auth_app/base.html' %}
{% load static %}




{% block content %}
<div class="container" style="margin-top:10%;">
    <div class="header mb-3 text-center text-primary">
        <small>Password Reset Confirm</small>
        <hr>
    </div>
    <form action="" method="POST">
        <input type="password" class="form-control" placeholder="input your password"> <br><br> 
        <input type="password" class="form-control" placeholder="input password again  to confirm "> <br><br> 
        <input type="submit" class="btn btn-primary btn-block" value="Reset Password Confirm">
    </form>
</div>
{% endblock %}