{% extends 'auth_app/base.html' %}
{% load static %}

{% block title %}Password Reset Confirm{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'auth_app/css/password_reset_confirm.css' %}">
{% endblock %}


{% block content %}
<div class="container password-reset-confirm-page">
    <form action="" method="POST">
    {% csrf_token %}
        <div class="col-12 logoImage" style="background-color: #d9d9d9 !important;">
            <img src="{% static '/images/logo.png' %}" alt="" height="" width="" class="">
        </div>
        <div class="">
            <p class="text-center text-muted small mt-2">Create your new password</p>
        </div>
        <div id="session_message">
            {% for message in messages %}
            <div id="session_message_div" class="alert {{ message.tags }}" role="alert">
              {{message}}
            </div>
            {% endfor %}
          </div>
        <div class="">
            <input type="password" name="new_password1" class="form-control" placeholder="Create New Password"><br>
        </div>
        <div class="">
            <input type="password" name="new_password2" class="form-control" placeholder="Confirm Your Password"><br>
        </div>
        <div class="">
            <input type="submit" class="btn btn col-12 resetPasswordConfirmButton" value="Reset Password Confirm">
        </div>
    </form>
</div>
{% endblock %}