{% extends 'auth_app/base.html' %}
{% load static %}

{% block title %}OTP Confirmation{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'auth_app/css/password_reset.css' %}">
{% endblock %}

{% block content %}
<div class="container password-reset-container">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="col-12 logoImage" style="background-color: #d9d9d9 !important;">
            <img src="{% static '/images/logo.png' %}" alt="" height="" width="" class="">
        </div>
        <div class="mt-2">
            <p class="text-center text-muted small">Enter your email to get an OTP</p>
        </div>
        <input type="email" name="email" class="form-control" placeholder="Enter your email">
        <input type="submit" class="btn btn mt-3 col-12 resetPasswordButton" value="Reset Password">
    </form>
</div>
{% endblock %}


test test test