{% extends 'auth_app/base.html' %}
{% load static %}

{% block title %}Chart{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'auth_app/css/categories_products.css' %}">
{% endblock %}

{%block scripts%}
<!-- ajax  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

   pie chart starts -->
  <script>
       
    $(document).ready(function(){
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: [ 
            // eha data ajax bata auna paryo
                {%for data in categories%}
                '{{data.name}}',
                {% endfor %}
            ],
            datasets: [{
              // data from ajax
                label: 'My First Dataset',
                data: [
                {%for data in categories%}
                '{{ data.product_count }}',
                {% endfor %}
                
                ],
                backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 205, 86)'
                ],
                borderWidth:1,
                hoverOffset: 35
                
            }]
            }, 
    });
});

</script>


{%endblock scripts%}
<!-- pie chart ends -->

{% block content %}
<!-- pie chart div -->
<div class="col-12 mt-5 mx-5">
  <div class="col-6" style="border:1px solid black;">
      <small>Categories of the inventory are mentioned below:</small>
      <div > 
          <canvas id="myChart" width="300" height="100 "></canvas>
          <small class="d-flex justify-content-center mt-4">Products of categories Pie Chart</small>
          
        </div>
  </div>
</div>

<table class="table mt-5">
    <div class=" col-10 mt-5 d-flex justify-content-end">
        <div class="justify-content-end">
                <small>Total stocks:___________</small>
        </div>
    </div>
    <thead class="thead-dark">
      <tr>
        <th scope="col">S.N</th>
        <th scope="col">Name</th>
        <th scope="col">Purchase_Price</th>
        <th scope="col">Selling_price</th>
        <th scope="col">SKU</th>
        <th scope="col">Current_stock</th>
        <th scope="col">Image</th>
      </tr>
    </thead>
    <tbody>
        {% for item in products %}
      <tr>
        <th scope="row">{{ forloop.counter}}</th>
        <td>{{item.name}}</td>
        <td>{{item.purchase_price}}</td>
        <td>{{item.selling_price}}</td>
        <td>{{item.sku}}</td>
        <td>{{item.current_stock}}</td>
        <td><img src="{{ item.imageURL }}" height="100" width="100" alt=""></td>
        
      </tr>
      
      {% endfor %}
      
    </tbody>
  </table>
  

  
{% endblock %}