{% extends 'auth_app/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/bc607b3e78.js" crossorigin="anonymous"></script>
    <!-- chartjs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
    <!-- jQuery -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->
    {% block title %} Chart {% endblock %}
</head>
<body>
    
    
    {%block scripts%}
    <script>
 $(document).ready(function(){
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: [
                {%for data in categories%}
                '{{data.name}}',
                {% endfor %}
            ],
            datasets: [{
                label: 'My First Dataset',
                data: [
                {%for data in categories%}
                '{{ data.product_count }}',
                {% endfor %}
                
                ],
                backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 205, 86)'
                ],
                hoverOffset: 4
            }]
            },
       
});
});
</script>
{%endblock scripts%}


{% block content %}

<div class="col-12 mt-5 mx-5">
    <div class="col-6" style="border:1px solid black;">
        <small>This is the products pie chart</small><br>
        <small>Categories of the inventory are mentioned below:</small>
        <div> 
            <canvas id="myChart" width="300" height="100 "></canvas>
            
          </div>
    </div>
      
        
</div>
    {%endblock %}
    
</body>
</html>