{% extends 'auth_app/base.html' %}
{% load static %}

{% block title %}Table{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'auth_app/css/table.css' %}">
{% endblock %}

{% block content %}

<table class="table mt-5">
    <div class=" col-10 mt-5 d-flex justify-content-end">
        <div class="justify-content-end">
                <small>Total stocks: {{total}}</small>
        </div>
    </div>
    <thead class="thead-dark">
      <tr>
        <th scope="col">S.N</th>
        <th scope="col">Grand Total</th>
        <th scope="col">Sub Total</th>
        <th scope="col">Discount Amount</th>
        <th scope="col">Tax Amount</th>
        <th scope="col">Items</th>
        <th scope="col">Bill No.</th>
        <th scope="col">Vendor.</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
        {% for item in purchases %}
      <tr>
        <th scope="row">{{ forloop.counter}}</th>
        <td>{{item.grand_total}}</td>
        <td>{{item.sub_total}}</td>
        <td>{{item.discount_amount}}</td>
        <td>{{item.tax_amount}}</td>
        <td>
       {% for a in item.purchase_items.all %}
          {{a.product.name}} x {{a.quantity}} <br>
       {% endfor %}
        
        </td>
        <td>{{item.bill_number}}</td>
        <td>{{item.vendor.name}}</td>
        <td>{{item.status}}</td>
        
      </tr>
      
      {% endfor %}
      
    </tbody>
  </table>
  
  
{% endblock %}