{% extends 'auth_app/base.html' %}
{% load static %}

{% block content %}

<div class=" container card text-center mt-5">
    
    <div class="card-body mt-5">
      <h5 class="card-title">Hamro Khata</h5>
      <p class="card-text">Please Input the OTP to access login page.</p>
     <div class="col-4 d-flex justify-content-center" style="margin-left: 420px;">
      <form action="" method="POST">
        {%csrf_token%}
        <input type="text" name="otp" class="form-control">
        <input type="submit" class="btn btn-outline-primary" value="submit">
      </form> <br>
     </div> <br>
      
      <a href="#" class="btn btn-primary">Go back</a>
    </div>
   
  </div>

{% endblock %}