body .password-reset-confirm-page {
    background-color: white;
    width: 30% !important;
    margin-top: 13%;
    box-shadow: 0 0 12px black;
    border-radius: 8px;
    padding: 2%;
}

.logoImage img {
    height: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

form .resetPasswordConfirmButton {
    background-color: #FF7A00;
    color: white;
    font-weight: bold;
}

form .resetPasswordConfirmButton:hover {
    background-color: #e98425;
    color: white;
    font-weight: bold;
}